<h1>Bonjour ! {{ contact.lastname|upper }} {{ contact.firstname|upper }} souhaite vous contacter.</h1>
<p>
    Voici son message :<br>
    "{{ contact.message }}"
</p>
<p>Son Email : {{ contact.email }}</p>